header,
.card-header,
.seryve-section {
  background-color: #f0fff0;
}
.btn-green {
  background-color: #21b573;
  padding: 12px 28px;
  border-radius: 33px;
  border: none;
  color: white;
}
.btn-green:hover {
  background-color: darkcyan;
}
.nav-item {
  color: black;
}
.green-txt {
  color: #21b573;
}
.red-txt {
  color: #fd511a;
}
.categories .card-title,
.categories .card-text {
  text-align: center;
}
.card-text {
  color: #585859;
}
.card-cat-icon {
  width: 50%;
}
.card-footer {
  background: none;
  border: none;
}
.categories .card {
  background-color: #f8fffb;
  border: none;
}
.categories .card:hover {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.container h4 {
  text-align: center;
  padding-bottom: 30px;
  font-weight: bold;
}
.card-footer-icon {
  width: 17px;
  padding-bottom: 4px;
}
.course-footer-text {
  color: #585859;
}
p {
  font-size: 14px;
}
#courses .card {
  border: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.man-img {
  height: 100px;
}
footer {
  background-color: #282531;
}
.copiright-text {
  text-align: center;
}
footer {
  color: #cdcdcd;
  font-size: 16px;
  line-height: 30px;
}
h5 {
  font-size: 16px;
}
.footer-list a {
  margin-bottom: 0;
  text-decoration: none;
  font-size: 13px;
  color: #cdcdcd;
}
.footer-list a:hover {
  color: white;
  font-size: 15px;
}

#others a:hover {
  text-decoration: none;
  color: white;
}
#others .card {
  border: none;
}
.table-green td,
.table-green th {
  background-color: #f0fff0;
}
